@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");

* {
  margin: 0px;
  padding: 0px;
  color: white;
}

.Container-fluid {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d15;
}

body {
  position: relative;
}

.container-fluid-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #0d0d15;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 90vh;
  background-color: #0d0d15;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animationLoti {
  width: 50%;
  height: 75%;

}

.animationTyping {
  width: 50px;
  height: 30px;

}

.login-box {
  flex-basis: 50%;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-box .login-container {
  width: 80%;
  min-width: 500px;
  height: 100%;
  max-height: 600px;
  background-color: #f2dffd;

}

.login-box .resister-container {
  width: 100%;
  height: 100%;
  background-color: #f2dffd;
  text-align: center;

}

.container-fluid-message-list {
  width: 100;
  height: 90vh;
  max-height: 90vh;
  background-color: #0d0d15e6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.container-fluid-message-list .chat-header {
  background-color: rgba(110, 196, 250, 0.317);
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-fluid-message-list .message {
  flex-basis: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

}

.container-fluid-message-list .message .message-list {
  flex-basis: 90%;
  width: 100%;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #24222c;
}

.container-fluid-message-list .message .message-list .message-send {
  background-color: #cbeaef;
  width: fit-content;
  min-width: 100px;

  width: 100%;
  color: #0d0d15;
  padding: .6rem;
  margin: .5rem;
  border-top-right-radius: 15px;
  /* border-bottom-left-radius: 15px; */
  word-wrap: break-word;
  height: 100%;
  /* letter-spacing: ; */
}

.container-fluid-message-list .message .message-list .message-receive {
  background-color: #fed07f;
  width: 100%;
  min-width: 420px;
  height: 100%;
  color: #0d0d15;
  padding: .6rem;
  margin: .5rem;
  border-top-left-radius: 15px;
  /* border-bottom-right-radius: 15px; */
}

.container-fluid-message-list .message .input-message-box {
  background-color: rgba(110, 196, 250, 0.317);
  flex-basis: 10%;
  width: 100%;
  height: 7vh;
}

.main-model {
  width: 100%;
  height: 100%;
  background-color: #f2dffd !important;
}

.form-div {
  width: 98%;
}

.lable {
  color: #0d0d15;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: .5rem;
}

input {
  padding: .7rem;
  width: 100%;
  color: #0d0d15;
  font-size: larger;
  border: none;
}

.form-box {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heading {
  color: #0d0d15;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  margin-top: 3rem;
  font-size: 2.3rem;
}

button {
  padding: 10px;
  color: #0d0d15;
  width: 200px;
  font-size: larger;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin: 1rem;
}

button:hover {
  opacity: .8;
}

input:focus {
  box-shadow: none;
  border: 0px;
  outline: none;
}

.btn-dark {
  background-color: #0d0d15;
  color: white;
}


.btn-info {
  background-color: #80a1ff;
  color: white;
}

.form-box-btn-group {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.container-fluid-chat {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100%;
  background-color: #0d0d15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-main {
  height: 90vh;
  width: 98vw !important;
}

.chat-main .chat-user-list {
  max-height: 90vh;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.chat-main .chat-message {
  background-color: #f2dffd;
}

.user-not-avai {
  width: 100%;
  height: 90vh;
  color: black;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;

}

.user-image {
  width: 60px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  border: 3px solid #fed07f;
  border: inset(2px);
  background-color: #f2dffd;
}

.user-image-header {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;

}

.user-image-name {
  flex-basis: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-image-name h6 {
  text-transform: capitalize;
  font-size: larger;
  color: #0d0d15;
}

.user-image-name small {
  text-transform: capitalize;

}

.user-list-main {
  position: relative;
  width: 100%;
  max-height: 74vh;
  overflow: auto;
}

.user-list-main .user-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black !important;
  height: 2vh;
  background-color: white;
  cursor: pointer;
}

.user-list-main .user-box:hover {
  background-color: #f2dffd6a;

}

.login-user-data {
  width: 100%;
  height: 8vh;
  background-color: #fed07f;
  color: white;

}

.text-last-message {
  color: grey;
}

.text-time {
  color: #dba6ff;
}

.active {
  background-color: #fed07f !important;
  color: white !important;
}

.message-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.online {
  color: rgb(156, 228, 47) !important;
}

.offline {
  color: #bda6cb !important;
}

@media screen and (max-width:768px) {
  .content-box {
    display: none;
  }

}

@media screen and (max-width:1440px) {
  .login-box .login-container {
    width: 80%;
    min-width: 300px;
    height: 100%;
    max-height: 600px;
    background-color: #f2dffd;

  }


}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  /* background:white; */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(7, 7, 7, 0.471);
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.471);
}